:root {
    --primary-color: #7b1fa2;
    --secondary-color: #9c27b0;
    --text-color: white;
    --background-color: linear-gradient(to bottom, #2e2e2e, #1e1e1e);
    /* Set the background color to a gradient */
}
html {
    padding-top: 0;
    padding-left: 100px;
    padding-right:100px ;
    background-color: #190F25;
}
body{
    font-family: sans-serif;
    background: #190F25;
    color: var(--text-color);
    margin: 0;
}