@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

form {
    padding: 20px 0px;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100%;
    float: right;
}

form input {
    margin: 20px 0px;
    width: 75%;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

h4 {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    width: 50%;
    font-size: 30px;
    font-weight: 100;
    font-family: 'DM Sans', sans-serif;
    float: right;
}

form button[type='submit'].submit-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 2.5% 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    z-index: 2;
    font-size: 16px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    width: 75%;
    transform: none;
    padding: 15px 0;
}

button.submit-button:hover {
    transform: scale(1.02);
    background-image: linear-gradient(150deg, #ebb46a, #72542d);
}

.input-group {
    position: relative;
}

.input-icon {
    position: inherit;
    top: 50%;
    right: 5%;
    color: #999;
    padding-right: 10%;
}


.input-field {
    padding: 10px 40px 10px 10px;
}

.forgot-password {
    float: right;
    color: rgb(20, 140, 151);
    text-decoration: none;
    padding-bottom: 10px;
    margin-top: 20px;
    display: block;
    width: 25%;
}

.forgot-password:hover,
.create-account:hover {
    color: rgb(203, 149, 25);
    text-decoration: underline;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.create-account,
.no-account {
    display: inline-block;
    color: rgb(20, 140, 151);
    text-decoration: none;
    margin-top: 2%;
    width: 25%;
}

p.text-content {
    color: wheat;
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
}

a.create-account {
    font-size: 20px;
}